
<#include "head_support.html">
<!--
<div class="content" style="overflow:visible;z-index:9999;" >
   <#include "menu_left.html">
</div>  
-->
<!--bramb-->
<div class="content" style="position: relative; z-index: 10;">
  <h1 class="my_h">消费者帮助中心</h1>
</div>
<!--end bramb-->
<div class="content clearfix">
  <#include "support_left.html">
  <!--右侧-->
  <div class="help_con h ov">
    <h2 class="helpc_tit f18">资费专区</h2>
    <!-- 内容编辑区 -->
    <div class="mobile tabqh h230 w mt50">
      <div class="mobile_title h ov">
        <span class="fl dp f16 ml15">套餐资费</span>
        <span class="fr dp menu mt10 w60 l15">
                        	<div class="menu_img w15 h15 fl"></div>                        	
                            <ul id="qdjs_nav2">
                                <li class="li01" onclick="secBoard('qdjs_nav2','vouchb','li',1);"><img src="/image/189cnv2/2015support/images/hp_01.jpg" /></li>
                                <li class="li02" onclick="secBoard('qdjs_nav2','vouchb','li',2);"><img src="/image/189cnv2/2015support/images/hp_05.jpg" /></li>
                            </ul>             
                        </span>
      </div>
      <div class="lx-con mobile_news_a tabdiv w890 mt10" id="vouchb_1" style="display: block;">
        <ul>
          <li class="w280 h150">
            <#assign articles = cms.getArticles("资费专区_套餐资费" , 0 , 5)>
            <#list articles as article>
            <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
          </#list>
          </li>
          <li class="li_mr bl1 br1 pl50 w270 h150">
            <#assign articles = cms.getArticles("资费专区_套餐资费" , 5, 5)>
            <#list articles as article>
            <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
          </#list>
          </li>
          <li class="pl50 w240 h150">
            <#assign articles = cms.getArticles("资费专区_套餐资费" , 10 , 5)>
            <#list articles as article>
            <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
          </#list>
          </li>
        </ul>
      </div>
      <#assign articles = cms.getArticles("资费专区_套餐资费" , 15 , 15)>
      <#if (articles?size>0)>
      <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchb_2" style="display: none;">
        <ul>
          <li class="w280 h150">
            <#assign articles = cms.getArticles("资费专区_套餐资费" , 15 , 5)>
            <#list articles as article>
            <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
          </#list>
          </li>
          <li class="li_mr bl1 br1 pl50 w270 h150">
            <#assign articles = cms.getArticles("资费专区_套餐资费" , 20 , 5)>
            <#list articles as article>
            <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
          </#list>
          </li>
          <li class="pl50 w240 h150">
            <#assign articles = cms.getArticles("资费专区_套餐资费" , 25, 5)>
            <#list articles as article>
            <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
          </#list>
          </li>
        </ul>
      </div>
    </#if>
    <#assign articles = cms.getArticles("资费专区_套餐资费" , 30 , 15)>
    <#if (articles?size>0)>
    <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchb_3" style="display: none;">
      <ul>
        <li class="w280 h150">
          <#assign articles = cms.getArticles("资费专区_套餐资费" , 30 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
        <li class="li_mr bl1 br1 pl50 w270 h150">
          <#assign articles = cms.getArticles("资费专区_套餐资费" , 35 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
        <li class="pl50 w240 h150">
          <#assign articles = cms.getArticles("资费专区_套餐资费" , 40, 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
      </ul>
    </div>
  </#if>
</div>
<div class="mobile tabqh h230 w mt50">
  <div class="mobile_title h ov">
    <span class="fl dp f16 ml15">套餐合约</span>
    <span class="fr dp menu mt10 w40 l15">                        	                      	
                            <ul id="qdjs_nav3">
                                <li class="li01" onclick="secBoard('qdjs_nav3','vouchc','li',1);"><img src="/image/189cnv2/2015support/images/hp_01.jpg" /></li>
                                <li class="li02" onclick="secBoard('qdjs_nav3','vouchc','li',2);"><img src="/image/189cnv2/2015support/images/hp_05.jpg" /></li>
                            </ul>             
                        </span>
  </div>
  <div class="lx-con mobile_news_a tabdiv w890 mt10" id="vouchc_1" style="display: block;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_套餐合约" , 0 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_套餐合约" , 5 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_套餐合约" , 10 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
  <#assign articles = cms.getArticles("资费专区_套餐合约" , 15 , 15)>
  <#if (articles?size>0)>
  <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchc_2" style="display: none;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_套餐合约" , 15 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_套餐合约" , 20 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_套餐合约" , 25 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
</#if>
<#assign articles = cms.getArticles("资费专区_套餐合约" , 30 , 15)>
<#if (articles?size>0)>
<div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchc_3" style="display: none;">
  <ul>
    <li class="w280 h150">
      <#assign articles = cms.getArticles("资费专区_套餐合约" , 30 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>

    </li>
    <li class="li_mr bl1 br1 pl50 w270 h150">
      <#assign articles = cms.getArticles("资费专区_套餐合约" , 35 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="pl50 w240 h150">
      <#assign articles = cms.getArticles("资费专区_套餐合约" , 40 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
  </ul>
</div>
</#if>
</div>
<div class="helpc_word ov h pl0">
  <div class="mobile tabqh h230 w mt30">
    <div class="mobile_title h ov">
      <span class="fl dp f16 ml15">移动业务</span>
      <span class="fr dp menu mt10 w40 l15">                        	
                            <ul id="qdjs_nav1">
                                <li class="li01" onclick="secBoard('qdjs_nav1','voucha','li',1);"><img src="/image/189cnv2/2015support/images/hp_01.jpg" /></li>
                                <li class="li02" onclick="secBoard('qdjs_nav1','voucha','li',2);"><img src="/image/189cnv2/2015support/images/hp_05.jpg" /></li>
                            </ul>          
                        </span>
    </div>
    <div class="lx-con mobile_news_a tabdiv w890 mt10" id="voucha_1" style="display: block;">
      <ul>
        <li class="w280 h150">
          <#assign articles = cms.getArticles("资费专区_移动业务" , 0 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
        <li class="li_mr bl1 br1 pl50 w270 h150">
          <#assign articles = cms.getArticles("资费专区_移动业务" , 5 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
        <li class="pl50 w240 h150">
          <#assign articles = cms.getArticles("资费专区_移动业务" , 10 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
      </ul>
    </div>
    <#assign articles = cms.getArticles("资费专区_移动业务" , 15 , 15)>
    <#if (articles?size>0)>
    <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="voucha_2" style="display: none;">
      <ul>
        <li class="w280 h150">
          <#assign articles = cms.getArticles("资费专区_移动业务" , 15 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
        <li class="li_mr bl1 br1 pl50 w270 h150">
          <#assign articles = cms.getArticles("资费专区_移动业务" , 20 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
        <li class="pl50 w240 h150">
          <#assign articles = cms.getArticles("资费专区_移动业务" , 25 , 5)>
          <#list articles as article>
          <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
        </#list>
        </li>
      </ul>
    </div>
  </#if>
  <#assign articles = cms.getArticles("资费专区_移动业务" , 30 , 15)>
  <#if (articles?size>0)>
  <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id=""voucha_3" style="display: none;">
  <ul>
    <li class="w280 h150">
      <#assign articles = cms.getArticles("资费专区_移动业务" , 30 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="li_mr bl1 br1 pl50 w270 h150">
      <#assign articles = cms.getArticles("资费专区_移动业务" , 35 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="pl50 w240 h150">
      <#assign articles = cms.getArticles("资费专区_移动业务" , 40 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
  </ul>
</div>
</#if>
</div>
<div class="mobile tabqh h230 w mt50">
  <div class="mobile_title h ov">
    <span class="fl dp f16 ml15">固话业务</span>
    <span class="fr dp menu mt10 w40 l15">                      	
                            <ul id="qdjs_nav4">
                                <li class="li01" onclick="secBoard('qdjs_nav4','vouchd','li',1);"><img src="/image/189cnv2/2015support/images/hp_01.jpg" /></li>
                                <li class="li02" onclick="secBoard('qdjs_nav4','vouchd','li',2);"><img src="/image/189cnv2/2015support/images/hp_05.jpg" /></li>
                            </ul>             
                        </span>
  </div>
  <div class="lx-con mobile_news_a tabdiv w890 mt10" id="vouchd_1" style="display: block;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_固话业务" , 0 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_固话业务" , 5 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_固话业务" , 10 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
  <#assign articles = cms.getArticles("资费专区_固话业务" , 15, 15)>
  <#if (articles?size>0)>
  <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchd_2" style="display: none;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_固话业务" , 15, 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_固话业务" , 20 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_固话业务" , 25 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
</div>
</#if>
<#assign articles = cms.getArticles("资费专区_固话业务" , 30, 15)>
<#if (articles?size>0)>
<div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchd_3" style="display: none;">
  <ul>
    <li class="w280 h150">
      <#assign articles = cms.getArticles("资费专区_固话业务" , 30, 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="li_mr bl1 br1 pl50 w270 h150">
      <#assign articles = cms.getArticles("资费专区_固话业务" , 35 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="pl50 w240 h150">
      <#assign articles = cms.getArticles("资费专区_固话业务" , 40 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
  </ul>
</div>
</div>
</#if>
</div>
<#--
<div class="mobile tabqh h230 w mt50">
  <div class="mobile_title h ov">
    <span class="fl dp f16 ml15">开宽带业务</span>
    <span class="fr dp menu mt10 w40 l15">                      	
                            <ul id="qdjs_nav5">
                                <li class="li01" onclick="secBoard('qdjs_nav5','vouche','li',1);"><img src="/image/189cnv2/2015support/images/hp_01.jpg" /></li>
                                <li class="li02" onclick="secBoard('qdjs_nav5','vouche','li',2);"><img src="/image/189cnv2/2015support/images/hp_05.jpg" /></li>
                            </ul>             
                        </span>
  </div>
  <div class="lx-con mobile_news_a tabdiv w890 mt10" id="vouche_1" style="display: block;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_开宽带业务" , 0 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_开宽带业务" , 5 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_开宽带业务" , 10 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
  <#assign articles = cms.getArticles("资费专区_开宽带业务" , 15, 15)>
  <#if (articles?size>0)>
  <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouche_2" style="display: none;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_开宽带业务" , 15 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_开宽带业务" , 20 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_开宽带业务" ,25 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
</#if>
<#assign articles = cms.getArticles("资费专区_开宽带业务" , 30, 15)>
<#if (articles?size>0)>
<div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouche_3" style="display: none;">
  <ul>
    <li class="w280 h150">
      <#assign articles = cms.getArticles("资费专区_开宽带业务" , 30 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="li_mr bl1 br1 pl50 w270 h150">
      <#assign articles = cms.getArticles("资费专区_开宽带业务" , 35 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="pl50 w240 h150">
      <#assign articles = cms.getArticles("资费专区_开宽带业务" ,40 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
  </ul>
</div>
</#if>
</div>
-->
<#--
<div class="mobile tabqh h230 w mt50">
  <div class="mobile_title h ov">
    <span class="fl dp f16 ml15">组合产品套餐</span>
    <span class="fr dp menu mt10 w40 l15">                      	
                            <ul id="qdjs_nav6">
                                <li class="li01" onclick="secBoard('qdjs_nav6','vouchf','li',1);"><img src="/image/189cnv2/2015support/images/hp_01.jpg" /></li>
                                <li class="li02" onclick="secBoard('qdjs_nav6','vouchf','li',2);"><img src="/image/189cnv2/2015support/images/hp_05.jpg" /></li>
                            </ul>            
                        </span>
  </div>
  <div class="lx-con mobile_news_a tabdiv w890 mt10" id="vouchf_1" style="display: block;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_服务类" ,0 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_服务类" ,5 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_服务类" ,10 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>

  <#assign articles = cms.getArticles("资费专区_服务类" , 15, 15)>
  <#if (articles?size>0)>
  <div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchf_2" style="display: none;">
    <ul>
      <li class="w280 h150">
        <#assign articles = cms.getArticles("资费专区_服务类" ,15 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="li_mr bl1 br1 pl50 w270 h150">
        <#assign articles = cms.getArticles("资费专区_服务类" ,20 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
      <li class="pl50 w240 h150">
        <#assign articles = cms.getArticles("资费专区_服务类" ,25 , 5)>
        <#list articles as article>
        <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
      </#list>
      </li>
    </ul>
  </div>
</#if>
<#assign articles = cms.getArticles("资费专区_服务类" , 30, 15)>
<#if (articles?size>0)>
<div class="lx-con mobile_news_b tabdiv w890 hiddendiv mt10" id="vouchf_3" style="display: none;">
  <ul>
    <li class="w280 h150">
      <#assign articles = cms.getArticles("资费专区_服务类" ,30, 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="li_mr bl1 br1 pl50 w270 h150">
      <#assign articles = cms.getArticles("资费专区_服务类" ,35 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
    <li class="pl50 w240 h150">
      <#assign articles = cms.getArticles("资费专区_服务类" ,40 , 5)>
      <#list articles as article>
      <p><a href="${article.alink}"  target="_blank">${article.atitle?default('')}</a></p>
    </#list>
    </li>
  </ul>
</div>
</#if>
</div>
-->
</div>
</div>
</div>
<script type="text/javascript" src="/image/189cnv2/js/js-jq.js"></script>
<script type="text/javascript" src="/image/189cnv2/2015support/broad_common.js"></script>
<!--下拉-->
<!--左侧导航-->
<script type="text/javascript">
  $(function(){
    $(".subNav").click(function(){
      $(this).toggleClass("currentDd").siblings(".subNav").removeClass("currentDd")
      $(this).toggleClass("currentDt").siblings(".subNav").removeClass("currentDt")

      // 修改数字控制速度， slideUp(500)控制卷起速度
      $(this).next(".navContent").slideToggle(500).siblings(".navContent").slideUp(500);
    })
  })
</script>
<#include "foot.html">