<template>
    <div>
        <h1>{{msg}}</h1>
        <button  v-on:click="onClickMe">按钮</button>
        <span>{{title}}</span>
    </div>
</template>
<script>
export default {
    data: function(){
       return{
            msg: '来自comtenta得会话消息'
       }
    },
    props:["title"],
    methods:{
        onClickMe:function(){
            console.log(this.title)
        }
    }
}
</script>
<style>
h1{color: brown;font-size: 16px}
</style>


