<template>
<div>
  <h1>{{title}}</h1>
  <input v-model="addlist"  @keyup.enter="addNewFc">
  <ul>
    <li v-for="item in items" v-bind:class="{finished:item.isFinsh}" v-on:click="isClickBtn(item)">
      {{item.label}}
    </li>
  </ul>
</div>
<div>hello word</div>
</template>

<script>
import Store from './storage'
export default{
  data:function(){
    return{
      title:"请输入内容后按回车键",
      items:Store.fetch(),
      addlist:''
    }
  },
  watch:{
    items:{
      handler: function (items) {
        Store.save(items)
    },
    deep: true
    }
  },
  methods:{
    isClickBtn:function(item){
      item.isFinsh = !item.isFinsh;
      console.log(item.label)
    },
    addNewFc:function(){
      this.items.push({
        label:this.addlist,
        isFinsh:false
      })
      this.addlist='';
    }
  }
}
</script>
<style>
.finished{text-decoration: underline}
</style>
