<template>
  <div id="app">
    <HelloWorld/>
    <comtentA title="你好baby"/> 
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import comtentA from './components/comtentA'

export default {
  name: 'App',
  components: {
    HelloWorld,
    comtentA
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
